
body{
    background-image: url(/books.jpg);
     background-repeat: no-repeat;
    background-position: auto;  
    background-size: cover;

}
.row.vertical-offset-100{
  margin-right: 0px;
  margin-left: 0px;

}




#welcome-nav{
   font-weight: bold;
   border-width: 0px;
   border-color: white;
   color: white;

}
.nav .navbar-nav .navbar-right li a{
    font-size: 120px;
}





