.panel.panel-default{
	margin-top: 25%;
	border: 0px;
}

body{
    background-image: url(/books.jpg);
     background-repeat: no-repeat;
    background-position: auto;  
    background-size: cover;

}
.panel-heading a{
	text-decoration: none;

}

#butaoAluno;{
	position: center;
}

