.panel.panel-default{
	margin-top: 15%;
	border: 0px;
}

body{
    background-image: url(/books.jpg);
     background-repeat: no-repeat;
    background-position: auto;  
    background-size: cover;

}

.form-group{
	padding-top: 15px;
	padding-bottom: 15px;
}
#btn-registrar{
	margin-left: 25%;
    margin-right: 25%;
   	width: 50%;
}
/*.panel-heading a{
	text-decoration: none;

}

#butaoAluno;{
	position: center;
}
*/
